.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/
.DS_Store
/build
/captures
*.iml
gradle
app/build/
app/*.iml
app/.externalNativeBuild/*
gradlew
gradlew.bat
.*~
app/*.*~
app/src/main/*/*.*~

